@use "@styles/variables" as vars;

.pagination {
  position: absolute;
  width: 120px;
  height: 88px;
  bottom: 25%;
  left: 10%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: vars.$font-family;
  font-size: clamp(vars.$font-size-medium, 2vw, vars.$font-size-large);
  color: vars.$primary-color;

  @media (max-width: 1000px) {
    position: sticky;
    bottom: inherit;
    left: 20px;
    transform: inherit;
    width: 60px;
    height: 50px;
  }

  .pagination-index {
    font-family: vars.$font-family;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    color: vars.$primary-color;
    margin: 5px;

    @media (max-width: 1000px) {
      font-size: 14px;
    }
  }

  .pagination-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .pagination-button {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      color: vars.$primary-color;
      align-items: center;
      border: 1px solid vars.$border-color;
      border-radius: vars.$border-radius;
      cursor: pointer;

      @media (max-width: 1000px) {
        transform: scale(0.8);
      }

      &:hover {
        background-color: #fff;
      }

      &::before {
        content: attr(data-symbol);
        font-size: vars.$font-size-medium;
        line-height: 1;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        background-color: transparent;
      }
    }
  }
}

.pagination-container {
  @media (max-width: 1000px) {
    position: relative;
    display: flex;
    width: 100vw;
  }
}

.pagination-bullets {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: 1000px) {
    display: none;
  }
}

.pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-bullet:hover {
  background-color: #888;
}

.pagination-bullet.active {
  background-color: #3877ee;
}
