$primary-color: #42567a;
$secondary-color: #3877ee;
$highlight-color: #ef5da8;
$border-color: rgba(66, 86, 122, 0.2);
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 20px;
$font-family: "PT Sans", sans-serif;
$border-radius: 50%;
$circle-size: 530px;